@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    font-family: 'roboto', 'sanserif';
    font-size: larger;
}

header,footer{
    font-family: 'raleway','sanserif';
    font-weight: bold;
    font-size: 20px;
}


.nav-link:hover{
    background-color: #0000ff2a;
}

.botonFuncion{
    width: 50%;
}

.cardEj4{
    box-shadow: 5px 5px 5px black;
}

.cardEj5{
    background-color: #75c0b6b9
}

.pausa{
    background-color: #dfdf2d;
}

@media(768<=width<=991){
.botonFuncion{
        width: 20%;
    }
.entrada{
        width: 70%;
    }

.cardEj5{
    width: 100%;
}

.cardEj4{
    width: 75%;
}

}
@media (width >= 992px) {
    .botonFuncion{
        width: 20%;
    }
    
    .entrada{
        width: 70%;
    }

    .cardEj5{
        width: 60%;
    }

    .cardEj4{
        width: 60%;
    }

    .btnEj5{
    width: 30%;
    }
  }